.odd.error {
    font-size: 12px;
    padding: 20px;
    color: red;
    background-color: #EE9797FF;
    font-weight: bold;
}

.even.success {
    font-size: 12px;
    padding: 20px;
    color: green;
    background-color: #71cc71;
    font-weight: bold;
}

.total-installs {
    float: left;
    width: calc((100%)* 0.5 - 30px);
}

.detail-info {
    float: right;
    width: calc((100%)* 0.5 - 30px);
}
