<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="custom_color_section" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Color</label>
            <tab>magenest</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="custom_color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Color Settings</label>
                <field id="color_picker_group" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>Magenest\CustomKnockoutJs\Block\ColorPickerArray</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
