<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magenest_Movie::movieP"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="50"
            resource="Magenest_Movie::movieP"
        />
        <add
            id="Magenest_Movie::movieC"
            title="Movie"
            module="Magenest_Movie"
            sortOrder="55"
            parent="Magenest_Movie::movieP"
            action="movie/movie/"
            resource="Magenest_Movie::movieC"
        />
        <add
            id="Magenest_Movie::director"
            title="Director"
            module="Magenest_Movie"
            sortOrder="60"
            parent="Magenest_Movie::movieP"
            action="movie/director/"
            resource="Magenest_Movie::director"
        />
        <add
            id="Magenest_Movie::actor"
            title="Actor"
            module="Magenest_Movie"
            sortOrder="60"
            parent="Magenest_Movie::movieP"
            action="movie/actor/"
            resource="Magenest_Movie::actor"
        />
    </menu>
</config>
